<div class="row">

<div class="col-1 menu">
<ul>
<li class="hidden"><img src="white_machine.png"/></li>
<li><img class="machine7" src="white_machine.png"/></li>
<li><img class="machine6" src="white_machine.png"/></li>
<li><img class="machine5" src="white_machine.png"/></li>
<li><img class="machine4" src="white_machine.png"/></li>
<li><img class="machine3" src="white_machine.png"/></li>
<li><img class="machine2" src="white_machine.png"/></li>
<li><img class="machine1" src="white_machine.png"/></li>
</ul>
</div>

<div class="col-1 menu">
<ul>
<li><img class="machine10" src="white_machine.png"/></li>
</ul>
</div>

<div class="col-1 menu">
<ul>
<li><img class="machine12" src="white_machine.png"/></li>
</ul>
</div>
    
<div class="col-1 menu">
<ul>
<li><img class="machine14" src="white_machine.png"/></li>
</ul>
</div>
    
<div class="col-1 menu">
<ul>
<li><img class="machine16" src="white_machine.png"/></li>
</ul>
</div>
    
</div>


