<h2 class="centered-title">Laundry Machines</h2>
<div class="row">

    <div class="col-1 menu">
        <ul>
            <li><img id="machine5" src="../static/images/white_machine.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img id="machine4" src="../static/images/white_machine.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img id="machine3" src="../static/images/white_machine.pngg"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img id="machine2" src="../static/images/white_machine.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img id="machine1" src="../static/images/white_machine.png"/></li>
        </ul>
    </div>

    <div class="col-1 menu">
        <ul>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
        </ul>
    </div>

    <div class="col-1 menu">
        <ul>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
        </ul>
    </div>

    <div class="col-1 menu">
        <ul>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
        </ul>
    </div>

    <div class="col-1 menu">
        <ul>
            <li><img id="machine6" src="../static/images/white_machine.png"/></li>
            <li><img id="machine7" src="../static/images/white_machine.png"/></li>
            <li><img id="machine8" src="../static/images/white_machine.png"/></li>
            <li><img id="machine9" src="../static/images/white_machine.png"/></li>
            <li><img id="machine10" src="../static/images/white_machine.png"/></li>
        </ul>
    </div>
    
</div>

