<div class="row">

<div class="col-1 menu">
<ul>
<li><img class="machine1" src="white_machine.png"/></li>
</ul>
</div>
    
<div class="col-1 menu">
<ul>
<li><img class="machine2" src="white_machine.png"/></li>
<li class="hidden"><img src="white_machine.png"/></li>
<li><img class="machine18" src="white_machine.png"/></li>
<li class="hidden"><img src="white_machine.png"/></li>
<li><img class="machine17" src="white_machine.png"/></li>
</ul>
</div>
    
<div class="col-1 menu">
<ul>
<li><img class="machine3" src="white_machine.png"/></li>
<li class="hidden"><img src="white_machine.png"/></li>
<li><img class="machine19" src="white_machine.png"/></li>
<li class="hidden"><img src="white_machine.png"/></li>
<li><img class="machine16" src="white_machine.png"/></li>
</ul>
</div>
    
<div class="col-1 menu">
<ul>
<li><img class="machine4" src="white_machine.png"/></li>
<li class="hidden"><img src="white_machine.png"/></li>
<li><img class="machine20" src="white_machine.png"/></li>
<li class="hidden"><img src="white_machine.png"/></li>
<li><img class="machine15" src="white_machine.png"/></li>
</ul>
</div>
    
<div class="col-1 menu">
<ul>
<li class="hidden"><img src="white_machine.png"/></li>
</ul>
</div>

<div class="col-1 menu">
<ul>
<li><img class="machine5" src="white_machine.png"/></li>
<li><img class="machine6" src="white_machine.png"/></li>
<li><img class="machine7" src="white_machine.png"/></li>
<li><img class="machine8" src="white_machine.png"/></li>
<li><img class="machine9" src="white_machine.png"/></li>
<li><img class="machine10" src="white_machine.png"/></li>
<li><img class="machine11" src="white_machine.png"/></li>
<li><img class="machine12" src="white_machine.png"/></li>
<li><img class="machine13" src="white_machine.png"/></li>
<li><img class="machine14" src="white_machine.png"/></li>
</ul>
</div>
    
</div>


