<div class="row">

<div class="col-1 menu">
<ul>
<li><img id="machine10" src="../static/images/white_machine.png"/></li>
<li><img id="machine9" src="../static/images/white_machine.png"/></li>
<li><img id="machine8" src="../static/images/white_machine.png"/></li>
<li><img id="machine7" src="../static/images/white_machine.png"/></li>
<li><img id="machine6" src="../static/images/white_machine.png"/></li>
<li><img id="machine5" src="../static/images/white_machine.png"/></li>
<li><img id="machine4" src="../static/images/white_machine.png"/></li>
<li><img id="machine3" src="../static/images/white_machine.png"/></li>
<li><img id="machine2" src="../static/images/white_machine.png"/></li>
<li><img id="machine1" src="../static/images/white_machine.png"/></li>
</ul>
</div>

<div class="col-1 menu">
<ul>
<li><img src="../static/images/empty_space.png"/></li>
</ul>
</div>

<div class="col-1 menu">
<ul>
<li><img id="machine11" src="../static/images/white_machine.png"/></li>
<li><img src="../static/images/empty_space.png"/></li>
<li><img id="machine17" src="../static/images/white_machine.png"/></li>
<li><img src="../static/images/empty_space.png"/></li>
<li><img id="machine18" src="../static/images/white_machine.png"/></li>
</ul>
</div>
    
<div class="col-1 menu">
<ul>
<li><img id="machine12" src="../static/images/white_machine.png"/></li>
<li><img src="../static/images/empty_space.png"/></li>
<li><img id="machine16" src="../static/images/white_machine.png"/></li>
<li><img src="../static/images/empty_space.png"/></li>
<li><img id="machine19" src="../static/images/white_machine.png"/></li>
</ul>
</div>
    
<div class="col-1 menu">
<ul>
<li><img id="machine13" src="white_machine.png"/></li>
<li><img src="white_machine.png"/></li>
<li><img id="machine15" src="white_machine.png"/></li>
<li><img src="white_machine.png"/></li>
<li><img id="machine20" src="white_machine.png"/></li>
</ul>
</div>

<div class="col-1 menu">
<ul>
<li><img id="machine14" src="white_machine.png"/></li>
</ul>
</div>
    
</div>

