<h2 class="centered-title">Bottom Machines</h2>
<div class="row">

    <div class="col-1 menu">
        <ul>
            <li><img id="machine2" src="../static/images/white_machine.png"/></li>
            <li><img id="machine4" src="../static/images/white_machine.png"/></li>
            <li><img id="machine6" src="../static/images/white_machine.png"/></li>
            <li><img id="machine8" src="../static/images/white_machine.png"/></li>
            <li><img id="machine10" src="../static/images/white_machine.png"/></li>
            <li><img id="machine12" src="../static/images/white_machine.png"/></li>
            <li><img id="machine14" src="../static/images/white_machine.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img id="machine16" src="../static/images/white_machine.png"/></li>
            <li><img id="machine18" src="../static/images/white_machine.png"/></li>
            <li><img id="machine20" src="../static/images/white_machine.png"/></li>
            <li><img id="machine22" src="../static/images/white_machine.png"/></li>
            <li><img id="machine24" src="../static/images/white_machine.png"/></li>
            <li><img id="machine26" src="../static/images/white_machine.png"/></li>
            <li><img id="machine28" src="../static/images/white_machine.png"/></li>
            <li><img id="machine30" src="../static/images/white_machine.png"/></li>
            <li><img id="machine32" src="../static/images/white_machine.png"/></li>
            <li><img id="machine34" src="../static/images/white_machine.png"/></li>
        </ul>
    </div>

    <div class="col-1 menu">
        <ul>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
        </ul>
    </div>
    
    <div class="col-1 menu">
        <ul>
            <li><img id="machine36" src="../static/images/white_machine.png"/></li>
            <li><img id="machine38" src="../static/images/white_machine.png"/></li>
            <li><img id="machine40" src="../static/images/white_machine.png"/></li>
            <li><img id="machine42" src="../static/images/white_machine.png"/></li>
            <li><img id="machine44" src="../static/images/white_machine.png"/></li>
            <li><img id="machine46" src="../static/images/white_machine.png"/></li>
            <li><img id="machine48" src="../static/images/white_machine.png"/></li>
            <li><img id="machine50" src="../static/images/white_machine.png"/></li>
            <li><img id="machine52" src="../static/images/white_machine.png"/></li>
            <li><img id="machine54" src="../static/images/white_machine.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img id="machine109" src="../static/images/white_machine.png"/></li>
        </ul>
    </div>
    
    <div class="col-1 menu">
        <ul>
            <li><img id="machine56" src="../static/images/white_machine.png"/></li>
            <li><img id="machine58" src="../static/images/white_machine.png"/></li>
            <li><img id="machine60" src="../static/images/white_machine.png"/></li>
            <li><img id="machine62" src="../static/images/white_machine.png"/></li>
            <li><img id="machine64" src="../static/images/white_machine.png"/></li>
            <li><img id="machine66" src="../static/images/white_machine.png"/></li>
            <li><img id="machine68" src="../static/images/white_machine.png"/></li>
            <li><img id="machine70" src="../static/images/white_machine.png"/></li>
            <li><img id="machine72" src="../static/images/white_machine.png"/></li>
            <li><img id="machine74" src="../static/images/white_machine.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img id="machine108" src="../static/images/white_machine.png"/></li>
        </ul>
    </div>

    <div class="col-1 menu">
        <ul>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img id="machine107" src="../static/images/white_machine.png"/></li>
        </ul>
    </div>
    
    <div class="col-1 menu">
        <ul>
            <li><img id="machine76" src="../static/images/white_machine.png"/></li>
            <li><img id="machine78" src="../static/images/white_machine.png"/></li>
            <li><img id="machine80" src="../static/images/white_machine.png"/></li>
            <li><img id="machine82" src="../static/images/white_machine.png"/></li>
            <li><img id="machine84" src="../static/images/white_machine.png"/></li>
            <li><img id="machine86" src="../static/images/white_machine.png"/></li>
            <li><img id="machine88" src="../static/images/white_machine.png"/></li>
            <li><img id="machine90" src="../static/images/white_machine.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img id="machine92" src="../static/images/white_machine.png"/></li>
            <li><img id="machine94" src="../static/images/white_machine.png"/></li>
            <li><img id="machine96" src="../static/images/white_machine.png"/></li>
            <li><img id="machine98" src="../static/images/white_machine.png"/></li>
            <li><img id="machine100" src="../static/images/white_machine.png"/></li>
            <li><img id="machine102" src="../static/images/white_machine.png"/></li>
            <li><img id="machine104" src="../static/images/white_machine.png"/></li>
            <li><img id="machine106" src="../static/images/white_machine.png"/></li>
        </ul>
    </div>
    
</div>

<hr>
<br>
<h2 class="centered-title">Top Machines</h2>
<div class="row">

    <div class="col-1 menu">
        <ul>
            <li><img id="machine1" src="../static/images/white_machine.png"/></li>
            <li><img id="machine3" src="../static/images/white_machine.png"/></li>
            <li><img id="machine5" src="../static/images/white_machine.png"/></li>
            <li><img id="machine7" src="../static/images/white_machine.png"/></li>
            <li><img id="machine9" src="../static/images/white_machine.png"/></li>
            <li><img id="machine11" src="../static/images/white_machine.png"/></li>
            <li><img id="machine13" src="../static/images/white_machine.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img id="machine15" src="../static/images/white_machine.png"/></li>
            <li><img id="machine17" src="../static/images/white_machine.png"/></li>
            <li><img id="machine19" src="../static/images/white_machine.png"/></li>
            <li><img id="machine21" src="../static/images/white_machine.png"/></li>
            <li><img id="machine23" src="../static/images/white_machine.png"/></li>
            <li><img id="machine25" src="../static/images/white_machine.png"/></li>
            <li><img id="machine27" src="../static/images/white_machine.png"/></li>
            <li><img id="machine29" src="../static/images/white_machine.png"/></li>
            <li><img id="machine31" src="../static/images/white_machine.png"/></li>
            <li><img id="machine33" src="../static/images/white_machine.png"/></li>
        </ul>
    </div>

    <div class="col-1 menu">
        <ul>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
        </ul>
    </div>
    
    <div class="col-1 menu">
        <ul>
            <li><img id="machine35" src="../static/images/white_machine.png"/></li>
            <li><img id="machine37" src="../static/images/white_machine.png"/></li>
            <li><img id="machine39" src="../static/images/white_machine.png"/></li>
            <li><img id="machine41" src="../static/images/white_machine.png"/></li>
            <li><img id="machine43" src="../static/images/white_machine.png"/></li>
            <li><img id="machine45" src="../static/images/white_machine.png"/></li>
            <li><img id="machine47" src="../static/images/white_machine.png"/></li>
            <li><img id="machine49" src="../static/images/white_machine.png"/></li>
            <li><img id="machine51" src="../static/images/white_machine.png"/></li>
            <li><img id="machine53" src="../static/images/white_machine.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
        </ul>
    </div>
    
    <div class="col-1 menu">
        <ul>
            <li><img id="machine55" src="../static/images/white_machine.png"/></li>
            <li><img id="machine57" src="../static/images/white_machine.png"/></li>
            <li><img id="machine59" src="../static/images/white_machine.png"/></li>
            <li><img id="machine61" src="../static/images/white_machine.png"/></li>
            <li><img id="machine63" src="../static/images/white_machine.png"/></li>
            <li><img id="machine65" src="../static/images/white_machine.png"/></li>
            <li><img id="machine67" src="../static/images/white_machine.png"/></li>
            <li><img id="machine69" src="../static/images/white_machine.png"/></li>
            <li><img id="machine71" src="../static/images/white_machine.png"/></li>
            <li><img id="machine73" src="../static/images/white_machine.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
        </ul>
    </div>

    <div class="col-1 menu">
        <ul>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
        </ul>
    </div>
    
    <div class="col-1 menu">
        <ul>
            <li><img id="machine75" src="../static/images/white_machine.png"/></li>
            <li><img id="machine77" src="../static/images/white_machine.png"/></li>
            <li><img id="machine79" src="../static/images/white_machine.png"/></li>
            <li><img id="machine81" src="../static/images/white_machine.png"/></li>
            <li><img id="machine83" src="../static/images/white_machine.png"/></li>
            <li><img id="machine85" src="../static/images/white_machine.png"/></li>
            <li><img id="machine87" src="../static/images/white_machine.png"/></li>
            <li><img id="machine89" src="../static/images/white_machine.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img id="machine91" src="../static/images/white_machine.png"/></li>
            <li><img id="machine93" src="../static/images/white_machine.png"/></li>
            <li><img id="machine95" src="../static/images/white_machine.png"/></li>
            <li><img id="machine97" src="../static/images/white_machine.png"/></li>
            <li><img id="machine99" src="../static/images/white_machine.png"/></li>
            <li><img id="machine101" src="../static/images/white_machine.png"/></li>
            <li><img id="machine103" src="../static/images/white_machine.png"/></li>
            <li><img id="machine105" src="../static/images/white_machine.png"/></li>
        </ul>
    </div>
    
</div>

