<div class="row">

    <div class="col-1 menu">
        <ul>
            <li><img id="machine2" src="../static/images/white_machine.png"/></li>
            <li><img id="machine4" src="../static/images/white_machine.png"/></li>
            <li><img id="machine6" src="../static/images/white_machine.png"/></li>
            <li><img id="machine8" src="../static/images/white_machine.png"/></li>
            <li><img id="machine10" src="../static/images/white_machine.png"/></li>
            <li><img id="machine12" src="../static/images/white_machine.png"/></li>
            <li><img id="machine14" src="../static/images/white_machine.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img id="machine16" src="../static/images/white_machine.png"/></li>
            <li><img id="machine18" src="../static/images/white_machine.png"/></li>
            <li><img id="machine20" src="../static/images/white_machine.png"/></li>
            <li><img id="machine22" src="../static/images/white_machine.png"/></li>
            <li><img id="machine24" src="../static/images/white_machine.png"/></li>
            <li><img id="machine26" src="../static/images/white_machine.png"/></li>
            <li><img id="machine28" src="../static/images/white_machine.png"/></li>
            <li><img id="machine30" src="../static/images/white_machine.png"/></li>
            <li><img id="machine32" src="../static/images/white_machine.png"/></li>
            <li><img id="machine34" src="../static/images/white_machine.png"/></li>
        </ul>
    </div>

    <div class="col-1 menu">
        <ul>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
        </ul>
    </div>
    
    <div class="col-1 menu">
        <ul>
            <li><img id="machine36" src="../static/images/white_machine.png"/></li>
            <li><img id="machine38" src="../static/images/white_machine.png"/></li>
            <li><img id="machine40" src="../static/images/white_machine.png"/></li>
            <li><img id="machine42" src="../static/images/white_machine.png"/></li>
            <li><img id="machine44" src="../static/images/white_machine.png"/></li>
            <li><img id="machine46" src="../static/images/white_machine.png"/></li>
            <li><img id="machine48" src="../static/images/white_machine.png"/></li>
            <li><img id="machine50" src="../static/images/white_machine.png"/></li>
            <li><img id="machine52" src="../static/images/white_machine.png"/></li>
            <li><img id="machine54" src="../static/images/white_machine.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img id="machine111" src="../static/images/white_machine.png"/></li>
        </ul>
    </div>
    
    <div class="col-1 menu">
        <ul>
            <li><img id="machine56" src="../static/images/white_machine.png"/></li>
            <li><img id="machine58" src="../static/images/white_machine.png"/></li>
            <li><img id="machine60" src="../static/images/white_machine.png"/></li>
            <li><img id="machine62" src="../static/images/white_machine.png"/></li>
            <li><img id="machine64" src="../static/images/white_machine.png"/></li>
            <li><img id="machine66" src="../static/images/white_machine.png"/></li>
            <li><img id="machine68" src="../static/images/white_machine.png"/></li>
            <li><img id="machine70" src="../static/images/white_machine.png"/></li>
            <li><img id="machine72" src="../static/images/white_machine.png"/></li>
            <li><img id="machine74" src="../static/images/white_machine.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img id="machine110" src="../static/images/white_machine.png"/></li>
        </ul>
    </div>

    <div class="col-1 menu">
        <ul>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img id="machine109" src="../static/images/white_machine.png"/></li>
        </ul>
    </div>
    
    <div class="col-1 menu">
        <ul>
            <li><img id="machine78" src="../static/images/white_machine.png"/></li>
            <li><img id="machine80" src="../static/images/white_machine.png"/></li>
            <li><img id="machine82" src="../static/images/white_machine.png"/></li>
            <li><img id="machine84" src="../static/images/white_machine.png"/></li>
            <li><img id="machine86" src="../static/images/white_machine.png"/></li>
            <li><img id="machine88" src="../static/images/white_machine.png"/></li>
            <li><img id="machine90" src="../static/images/white_machine.png"/></li>
            <li><img id="machine92" src="../static/images/white_machine.png"/></li>
            <li><img class="space" src="../static/images/empty_space.png"/></li>
            <li><img id="machine94" src="../static/images/white_machine.png"/></li>
            <li><img id="machine96" src="../static/images/white_machine.png"/></li>
            <li><img id="machine98" src="../static/images/white_machine.png"/></li>
            <li><img id="machine100" src="../static/images/white_machine.png"/></li>
            <li><img id="machine102" src="../static/images/white_machine.png"/></li>
            <li><img id="machine104" src="../static/images/white_machine.png"/></li>
            <li><img id="machine106" src="../static/images/white_machine.png"/></li>
            <li><img id="machine108" src="../static/images/white_machine.png"/></li>
        </ul>
    </div>
    
</div>

